body {
  margin: 0;
  font-family: 'Roboto';
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: rgb(17, 17, 47);
  color: white;
}

::-webkit-scrollbar {
  width: 0.4em
}

/* ::-webkit-scrollbar-track {
  background-color: rgb(17, 17, 47);
} */

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  /* outline: '1px solid slategrey' */
}

.MuiCardHeader-content{
  overflow: hidden;
}

.MuiCardHeader-title{
 text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
