body {
  margin: 0;
  font-family: 'Roboto';
  background-color: rgb(17, 17, 47);
  color: white;
}

::-webkit-scrollbar {
  width: 0.4em
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.MuiCardHeader-content{
  overflow: hidden;
}

.MuiCardHeader-title{
 text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* .hide-overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
} */
